
*.lref
*.cache
*.baml
LcrGame/obj/Debug/MainWindow.g.cs
LcrGame/obj/Debug/MainWindow.g.i.cs
*.pdb
LcrGame/obj/Debug/GeneratedInternalTypeHelper.g.cs
LcrGame/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
LcrGame/obj/Debug/LcrGame.csproj.CopyComplete
LcrGame/obj/Debug/LcrGame.csproj.FileListAbsolute.txt
LcrGame/obj/Debug/App.g.i.cs
LcrGame/obj/Debug/App.g.cs
LcrGame/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
LcrGame/obj/Debug/LcrGame.exe
LcrGame/obj/Debug/LcrGame.g.resources
LcrGame/obj/Debug/LcrGame.Properties.Resources.resources
LcrGame/bin/Debug/LcrGame.exe
LcrGame/bin/Debug/LcrGame.exe.config
LcrGame/bin/Debug/ScottPlot.dll
LcrGame/bin/Debug/ScottPlot.WPF.dll
LcrGame/bin/Debug/ScottPlot.xml
LcrGame/bin/Debug/System.Drawing.Common.dll
LcrGame/bin/Debug/System.ValueTuple.dll
LcrGame/bin/Debug/System.ValueTuple.xml
*.vspscc
