
*.lref
*.cache
*.baml
LcrGame/obj/Debug/MainWindow.g.cs
LcrGame/obj/Debug/MainWindow.g.i.cs
*.pdb
LcrGame/obj/Debug/GeneratedInternalTypeHelper.g.cs
LcrGame/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
LcrGame/obj/Debug/LcrGame.csproj.CopyComplete
LcrGame/obj/Debug/LcrGame.csproj.FileListAbsolute.txt
LcrGame/obj/Debug/App.g.i.cs
LcrGame/obj/Debug/App.g.cs
LcrGame/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
LcrGame/obj/Debug/LcrGame.exe
LcrGame/obj/Debug/LcrGame.g.resources
LcrGame/obj/Debug/LcrGame.Properties.Resources.resources
LcrGame/bin/Debug/LcrGame.exe
LcrGame/bin/Debug/LcrGame.exe.config
LcrGame/bin/Debug/ScottPlot.dll
LcrGame/bin/Debug/ScottPlot.WPF.dll
LcrGame/bin/Debug/ScottPlot.xml
LcrGame/bin/Debug/System.Drawing.Common.dll
LcrGame/bin/Debug/System.ValueTuple.dll
LcrGame/bin/Debug/System.ValueTuple.xml
*.vspscc
.vs/LcrGame/v16/.suo
LcrGame/obj/Debug/build.force
packages/ScottPlot.4.1.26/.signature.p7s
packages/ScottPlot.4.1.26/icon.ico
packages/ScottPlot.4.1.26/icon.png
packages/ScottPlot.4.1.26/lib/net461/ScottPlot.dll
packages/ScottPlot.4.1.26/lib/net461/ScottPlot.xml
packages/ScottPlot.4.1.26/lib/net5.0/ScottPlot.dll
packages/ScottPlot.4.1.26/lib/net5.0/ScottPlot.xml
packages/ScottPlot.4.1.26/lib/netstandard2.0/ScottPlot.dll
packages/ScottPlot.4.1.26/lib/netstandard2.0/ScottPlot.xml
packages/ScottPlot.4.1.26/README.md
packages/ScottPlot.4.1.26/ScottPlot.4.1.26.nupkg
packages/ScottPlot.WPF.4.1.26/.signature.p7s
packages/ScottPlot.WPF.4.1.26/icon.ico
packages/ScottPlot.WPF.4.1.26/icon.png
packages/ScottPlot.WPF.4.1.26/lib/net461/ScottPlot.WPF.dll
packages/ScottPlot.WPF.4.1.26/lib/net472/ScottPlot.WPF.dll
packages/ScottPlot.WPF.4.1.26/lib/net5.0-windows7.0/ScottPlot.WPF.dll
packages/ScottPlot.WPF.4.1.26/lib/netcoreapp3.1/ScottPlot.WPF.dll
packages/ScottPlot.WPF.4.1.26/README.md
packages/ScottPlot.WPF.4.1.26/ScottPlot.WPF.4.1.26.nupkg
packages/ScottPlot.WPF.4.1.26/tools/VisualStudioToolsManifest.xml
packages/System.Drawing.Common.4.6.1/.signature.p7s
packages/System.Drawing.Common.4.6.1/lib/MonoAndroid10/_._
packages/System.Drawing.Common.4.6.1/lib/MonoTouch10/_._
packages/System.Drawing.Common.4.6.1/lib/net461/System.Drawing.Common.dll
packages/System.Drawing.Common.4.6.1/lib/netstandard2.0/System.Drawing.Common.dll
packages/System.Drawing.Common.4.6.1/lib/xamarinios10/_._
packages/System.Drawing.Common.4.6.1/lib/xamarinmac20/_._
packages/System.Drawing.Common.4.6.1/lib/xamarintvos10/_._
packages/System.Drawing.Common.4.6.1/lib/xamarinwatchos10/_._
packages/System.Drawing.Common.4.6.1/LICENSE.TXT
packages/System.Drawing.Common.4.6.1/ref/MonoAndroid10/_._
packages/System.Drawing.Common.4.6.1/ref/MonoTouch10/_._
packages/System.Drawing.Common.4.6.1/ref/net461/System.Drawing.Common.dll
packages/System.Drawing.Common.4.6.1/ref/netcoreapp3.0/System.Drawing.Common.dll
packages/System.Drawing.Common.4.6.1/ref/netcoreapp3.0/System.Drawing.Common.xml
packages/System.Drawing.Common.4.6.1/ref/netstandard2.0/System.Drawing.Common.dll
packages/System.Drawing.Common.4.6.1/ref/xamarinios10/_._
packages/System.Drawing.Common.4.6.1/ref/xamarinmac20/_._
packages/System.Drawing.Common.4.6.1/ref/xamarintvos10/_._
packages/System.Drawing.Common.4.6.1/ref/xamarinwatchos10/_._
packages/System.Drawing.Common.4.6.1/runtimes/unix/lib/netcoreapp2.0/System.Drawing.Common.dll
packages/System.Drawing.Common.4.6.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
packages/System.Drawing.Common.4.6.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.xml
packages/System.Drawing.Common.4.6.1/runtimes/win/lib/netcoreapp2.0/System.Drawing.Common.dll
packages/System.Drawing.Common.4.6.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
packages/System.Drawing.Common.4.6.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.xml
packages/System.Drawing.Common.4.6.1/System.Drawing.Common.4.6.1.nupkg
packages/System.Drawing.Common.4.6.1/THIRD-PARTY-NOTICES.TXT
packages/System.Drawing.Common.4.6.1/useSharedDesignerContext.txt
packages/System.Drawing.Common.4.6.1/version.txt
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/.signature.p7s
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/dotnet_library_license.txt
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/MonoAndroid10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/MonoTouch10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/net45/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/netstandard1.1/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/win8/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/wpa81/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/xamarinios10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/xamarinmac20/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/xamarintvos10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/xamarinwatchos10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/ref/MonoAndroid10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/ref/MonoTouch10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/ref/netstandard1.1/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/ref/xamarinios10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/ref/xamarinmac20/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/ref/xamarintvos10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/ref/xamarinwatchos10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/runtimes/aot/lib/netcore50/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/runtimes/unix/lib/netstandard1.1/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/runtimes/win/lib/net45/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/runtimes/win/lib/netcore50/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/runtimes/win/lib/netstandard1.1/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/System.Runtime.InteropServices.RuntimeInformation.4.3.0.nupkg
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/ThirdPartyNotices.txt
packages/System.ValueTuple.4.5.0/.signature.p7s
packages/System.ValueTuple.4.5.0/lib/MonoAndroid10/_._
packages/System.ValueTuple.4.5.0/lib/MonoTouch10/_._
packages/System.ValueTuple.4.5.0/lib/net461/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/lib/net461/System.ValueTuple.xml
packages/System.ValueTuple.4.5.0/lib/net47/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/lib/net47/System.ValueTuple.xml
packages/System.ValueTuple.4.5.0/lib/netcoreapp2.0/_._
packages/System.ValueTuple.4.5.0/lib/netstandard1.0/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/lib/netstandard1.0/System.ValueTuple.xml
packages/System.ValueTuple.4.5.0/lib/netstandard2.0/_._
packages/System.ValueTuple.4.5.0/lib/portable-net40+sl4+win8+wp8/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/lib/portable-net40+sl4+win8+wp8/System.ValueTuple.xml
packages/System.ValueTuple.4.5.0/lib/uap10.0.16299/_._
packages/System.ValueTuple.4.5.0/lib/xamarinios10/_._
packages/System.ValueTuple.4.5.0/lib/xamarinmac20/_._
packages/System.ValueTuple.4.5.0/lib/xamarintvos10/_._
packages/System.ValueTuple.4.5.0/lib/xamarinwatchos10/_._
packages/System.ValueTuple.4.5.0/LICENSE.TXT
packages/System.ValueTuple.4.5.0/ref/MonoAndroid10/_._
packages/System.ValueTuple.4.5.0/ref/MonoTouch10/_._
packages/System.ValueTuple.4.5.0/ref/net461/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/ref/net47/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/ref/netcoreapp2.0/_._
packages/System.ValueTuple.4.5.0/ref/netstandard2.0/_._
packages/System.ValueTuple.4.5.0/ref/portable-net40+sl4+win8+wp8/System.ValueTuple.dll
packages/System.ValueTuple.4.5.0/ref/uap10.0.16299/_._
packages/System.ValueTuple.4.5.0/ref/xamarinios10/_._
packages/System.ValueTuple.4.5.0/ref/xamarinmac20/_._
packages/System.ValueTuple.4.5.0/ref/xamarintvos10/_._
packages/System.ValueTuple.4.5.0/ref/xamarinwatchos10/_._
packages/System.ValueTuple.4.5.0/System.ValueTuple.4.5.0.nupkg
packages/System.ValueTuple.4.5.0/THIRD-PARTY-NOTICES.TXT
packages/System.ValueTuple.4.5.0/useSharedDesignerContext.txt
packages/System.ValueTuple.4.5.0/version.txt
